2. Write a Python Code to create a table named “STUDENT” in MySQL with fields snum, sname, m1, m2 and total and also perform insert, update,delete and select rows in the table.

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\gdhan\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
import mysql.connector as sql

db = sql.connect(host="localhost", user = "root", password = "dansu159", database = "db")
c = db.cursor()

while (True):
    print ("1-CREATE TABLE \t 2-INSERT ROW \t 3-UPDATE ROWS \t 4-DELETE ROWS \t 5-DISPLAY \t 6-EXIT")
    
    opt = int(input("\n Enter the Option : "))
    if opt == 1:
        c.execute("Create table if not exists student(snum int, sname varchar(20), m1 int, m2 int, total int)")
        print("\t \t Table Created")
        
    elif opt ==2 :
        v1 = int(input("Enter the snum : "))
        v2 = input("Enter the sname : ")
        v3 = int(input("Enter the m1 : "))
        v4 = int(input("Enter the m2 : "))
        v5 = v3 + v4
        v = [v1,v2,v3,v4,v5]
        sqlinsert="Insert into student (snum, sname, m1, m2, total) values(%s,%s,%s,%s,%s)"
        c.execute(sqlinsert,v)
        db.commit()
        print(c.rowcount, "Row Inserted")        
    
    elif opt == 3 :
        v1 = int(input("Enter the snum to update : "))
        v3 = int(input("Enter the m1 : "))
        v4 = int(input("Enter the m2 : "))
        v5 = v3 + v4
        v = [v3,v4,v5,v1]
        sqlupdate = "Update student SET m1 = %s , m2 = %s, total = %s where snum = %s"
        c.execute(sqlupdate,v)
        db.commit()
        print(c.rowcount,"Rows Updated \n")
    elif opt == 4:
        v1 = input("Enter the snum to Delete:")
        va = (v1,)
        sqldelete = "DELETE FROM student WHERE snum = %s"
        c.execute(sqldelete,va)
        db.commit()
        print(c.rowcount, "Deleted")
    elif opt == 5:
        c.execute("Select * from student")
        temp = c.fetchall()
        for i in temp:
            print(i)
        print(c.rowcount,"Rows Displayed")
    else:
        db.close()
        print("Exited")
        break

1-CREATE TABLE 	 2-INSERT ROW 	 3-UPDATE ROWS 	 4-DELETE ROWS 	 5-DISPLAY 	 6-EXIT

 Enter the Option : 5
(37107, 'dhanush', 50, 50, 100)
(37107, 'Dhanush', 50, 50, 100)
(37106, 'bhavesh', 40, 40, 80)
3 Rows Displayed
1-CREATE TABLE 	 2-INSERT ROW 	 3-UPDATE ROWS 	 4-DELETE ROWS 	 5-DISPLAY 	 6-EXIT

 Enter the Option : 6
Exited